/* 
    Document   : skeleton
    Created on : Oct 30, 2012, 6:04:17 PM
    Author     : Paul
    Description:
       Style sheet used for the general layout of
       our website. Should be able to re use on all
       pages to make the look and feel consistent
*/

html {
    
    height: 100%;
    
}

root { 
    display: block;
}

body {
    
    margin: 0;
    background: #F4F4F2;
    font: 1.2em/22px "helvetica neue",Helvetica,Arial,Verdana,sans-serif;
    color: ivory;
    min-width: 1003px;
    height: 100%;
    
    /* DARKER BLUE SOLID COLOR
    background-color: #182947;*/
    
    
   /* Dark Blue to Black Gradient */ 
    background-image: -ms-linear-gradient(bottom, #000105 0%, #003954 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #000105 0%, #003954 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #000105 0%, #003954 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000105), color-stop(1, #003954));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #000105 0%, #003954 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #000105 0%, #003954 100%);

    /* Prevents Gradient From Repeating */
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}

div#wrapper {
    
    width:100%;
    
    display:table;
    
}

div#wrapper #header {
    
    display: table-header-group;
  
    
}

div#wrapper .topBlock {
    
    display: block;
    
}

div#wrapper .topHolder {
    
    /*background-color: yellow;*/
    
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 10px;
    padding: 2px 0;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    min-height: 20px;
    height: auto;
}

div#wrapper .headerArea {
    
    /*background-color: red;*/
    
    width: 980px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 30px 0 25px 33px;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 33px;
    
    
}

div#wrapper img#snapshotLogo {
    
    float:left;
    
}

div#wrapper ul#navigationBar {
    
    /* Remove the bullets */
    list-style: none;
    margin: 0px;
    padding: .6em;
    float:right;
    margin-top: 29px; /* Centers the nav menu with the logo */
    /*Test code to see the actual size of the list*/
    /*border : 2px solid #ccc;*/
    
}

div#wrapper ul#navigationBar ul#secondaryNavigationBar {
    
    list-style: none;
    margin: 0px;
    padding: .4em;
    margin-right: 4px;
    
}

div#wrapper ul#navigationBar li {
    
    float:left;
    margin-right: 0px;
    border-right:  1px solid #f9f9f9;
    border-left:  1px solid #f9f9f9;
    width: 130px;
    text-align: center;
}

div#wrapper ul#navigationBar a {
    
    display:block;
    padding: 0.5em;
    /*background-color: #f9f9f9;*/
   
}

div#wrapper ul#navigationBar li:hover {
    
    background-color: #333;
    color: #fff;
    text-decoration: none;
    
}

ul#secondaryNavigationBar {
    
    position: absolute;
    display:none;
    padding: 0px;
    
}

div#wrapper ul#navigationBar li:hover ul {
    
    display:inline-block;
    
}

div#wrapper ul#navigationBar li li {
    text-align: center;
    float:none;
    
}
